*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}


.container {
    display: block;
    margin: 0 auto;
    width: 50%;
    -webkit-text-size-adjust: none;
}

.textarea {
    font-family: monospace;
    font-size: 1.5em;
    padding: 3px 7px;
    min-height: 30px;
    border: 1px solid rgb(31, 30, 30);
    box-shadow: 0px 0px 2px rgb(192, 189, 189);
    cursor: text;
    width: 25rem;
}

.textarea b {
    color: rgb(255, 51, 0);
}

.hidden, .csv-details {
    display: none;
}
