*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 3rem;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
}

.container {
    display: block;
    margin: 0 auto;
    width: 50%;
    -webkit-text-size-adjust: none;
}

.textarea {
    font-family: monospace;
    font-size: 1.5em;
    padding: 3px 7px;
    min-height: 30px;
    border: 1px solid rgb(31, 30, 30);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    cursor: text;
    width: 25rem;
}

.textarea b {
    color: rgb(98, 0, 255);
}

.hidden,
.csv-details {
    display: none;
}
